@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;500&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

@font-face {
    font-family: playfairegular;
    src: url(font/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: playfairitalic;
    src: url(font/PlayfairDisplay-Italic.ttf);
}

@font-face {
    font-family: hklight;
    src: url(font/HKGrotesk-Light.otf);
}

@font-face {
    font-family: hklightlegacy;
    src: url(font/HKGrotesk-LightLegacy.otf);
}

@font-face {
    font-family: hkmedium;
    src: url(font/HKGrotesk-Medium.otf);
}

/* -------------------------------------------------------------------- HOME ---- */
/* ---------------------------------- HERO ---- */
.responsive-img {
    background-size: cover;
    background-repeat: no-repeat;
}

.home-hero {
    background-image: url(img/home/hero.jpg);
    width: 100%;
    height: 100%;
    position: relative;
}

/* ---------------------------------- NAVBAR ---- */

.logo {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.logo h2 {
    font-size: 60px;
    font-family: playfairegular;
    color: white;
    letter-spacing: 3px;
}

.point {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #E51CE1;
    position: absolute;
    bottom: 18px;
    right: -22px;
}

.navbar {
    background-color: transparent;
    width: 1530px;
    margin: auto;
    padding-top: 10px;
}

.navbar-burger {
    color: white;
}

.navbar-burger:active {
    background-color: transparent;
}

.navbar-end a {
    text-transform: uppercase;
    color: white;
    font-family: hklight;
    font-size: 18px;
    margin: 0 50px;
}

a.navbar-item:hover {
    background-color: transparent;
    color: white;
}

.hero-title {
    font-family: playfairegular;
    font-size: 90px;
    color: white;
    position: absolute;
    text-align: right;
}

.hero-title span {
    font-family: playfairitalic;
    color: #E51CE1;
}

.home-title {
    top: 250px;
    right: 250px;
}

.home-hero-btn {
    font-family: hklight;
    font-size: 17px;
    width: 240px;
    height: 70px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 570px;
    right: 250px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.home-hero-btn:hover {
    background-color: white;
    color: black;
}

/* ---------------------------------- MATTER OF DETAIL ---- */
.matter-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1530px;
    margin: auto;
    padding-top: 80px;
}

.web-title {
    font-family: hklightlegacy;
    font-size: 60px;
    line-height: 70px;
    color: black;
}

.web-title span {
    font-family: hkmedium;
    position: relative;
}

.web-title span::after {
    content: '';
    display: block;
    width: 60px;
    border-bottom: 2px solid #E51CE1;
    position: absolute;
    bottom: -10px;
}

.matter-title span::after {
    right: 0;
}

.content-detail p {
   width: 500px;
   margin-top: 50px;
   font-size: 21px;
}

.content-detail p span {
    font-family: hkmedium;
    color: black;
}

.text-right {
    text-align: right;
}

.images-detail {
    display: flex;
}

.detail-1 {
    background-image: url(img/home/detail1.jpg);
    background-position: center center;
    height: 700px;
    width: 468px;
}

.detail-2 {
    background-image: url(img/home/detail2.jpg);
    background-position: left center;
    height: 700px;
    width: 468px;
    margin-top: 75px;
    margin-left: 40px;
}

/* ---------------------------------- NEW COLLECTION ---- */
.new-collection {
    width: 1530px;
    margin: auto;
    padding-top: 80px;
}

.new-collection a {
    color: black;
}

.collection-container {
    width: 100%;
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collection-container p {
    font-family: hklight;
    font-size: 45px;
    color: black;
}

.collection-container p span {
    color: white;
}

.sunglasses-img {
    background-image: url(img/home/sunglasses.jpg);
    width: 640px;
    height: 800px;
}

.shop-now-btn {
    font-size: 18px;
    text-transform: uppercase;
    color: black;
    margin-top: 5px;
    position: relative;
    cursor: pointer;
}

.shop-now-btn::after {
    content: '';
    display: block;
    border-bottom: 1px solid black;
    width: 40px;
    position: absolute;
    bottom: -7px;
    transition: all .3s ease;
}

.shop-now-btn:hover::after {
    content: '';
    border-bottom: 1px solid #E51CE1;
    width: 65px;
}

.sunglasses-btn::after {
    content: '';
    right: 0;
}

.watches-btn::after {
    content: '';
    left: 0;
}

.collection-part1 p {
    margin-top: 10px;
}

.collection-part2 {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.watches-img {
    background-image: url(img/home/watch.jpg);
    height: 400px;
    width: 600px;
    position: relative;
    margin-bottom: 40px;
    margin-left: 124px;
}

.clothes-img {
    background-image: url(img/home/clothes.jpg);
    height: 400px;
    width: 600px;
    position: relative;
}

.watches-img .over-img {
    position: absolute;
    top: 85px;
    left: -124px;
}

.watches-img p {
    margin-left: 20px; 
}

.clothes-img p {
    margin-right: 41px; 
}

.clothes-img .over-img {
    position: absolute;
    top: 30px;
    right: -124px;
}

/* ---------------------------------- INSTAGRAM ---- */
.instagram {
    display: flex;
    justify-content: center;
    padding: 150px 0;
}

.instagram-container {
    display: flex;
    flex-wrap: wrap;
    width: 1050px;
}

.instagram img {
    width: 350px;
}

.instagram-title {
    font-family: hkmedium;
    font-size: 60px;
    color: black;
    margin-bottom: 50px;
}

.instagram-content {
    display: flex;
    align-items: center;
    color: black;
    margin-left: 80px;
}

.instagram-content p {
    font-family: hklightlegacy;
    font-size: 21px;
    width: 500px;
}

.instagram-content p span {
    font-family: hkmedium;
}

/* ---------------------------------- TESTIMONIALS ---- */
.testimonials {
    background-image: url(img/home/city.jpg);
    background-position: center center;
    width: 100%;
    height: auto;
    position: relative;
    box-sizing: border-box;
}

.testimonial-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: hklightlegacy;
}

.testimonial-name {
    font-size: 32px;
    margin: 15px 0;
}

.testimonial-item p {
    width: 460px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}

.testimonials .web-title {
    color: white;
    padding: 50px 0 0 50px;
}

.testimonials .web-title span {
    font-family: hklightlegacy;
}

.testimonial-img {
    width: 440px;
    height: 550px;
}

.testimonial1 {
    background-image: url(img/home/testimonial1.jpg);
}

.testimonial2 {
    background-image: url(img/home/testimonial2.jpg);
    background-position: center center;
}

.testimonial3 {
    background-image: url(img/home/testimonial3.jpg);
}

.arrow-box {
    border: 1px solid white;
    width: fit-content;
    padding: 15px;
    transition: all .3s ease;
    cursor: pointer;
    position: absolute;
}

.arrow-box:hover {
    background-color: white;
}

.arrow-box-right {
    top: 340px;
    left: 1250px;
}

.arrow-box-left {
    top: 340px;
    left: 600px;
}

.arrow-box-left:hover > div {
    background-image: url(img/home/arrow-left\ -active.svg);
}

.arrow-box-right:hover > div {
    background-image: url(img/home/arrow-right-active.svg);
}

.arrow-right {
    background-image: url(img/home/arrow-right.svg);
    width: 20px;
    height: 38px;
}

.arrow-left {
    background-image: url(img/home/arrow-left.svg);
    width: 20px;
    height: 38px;
}

.glider-dot {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0;
    width: 50px;
    height: 5px;
}

.glider-dot.active {
    background-color: white;
}

.testimonials-dots {
    padding-bottom: 50px;
}

/* ---------------------------------- NEWSLETTER ---- */
.newsletter {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: hklight;
    font-size: 24px;
    color: black;
}

.newsletter-content {
    display: flex;
}

.newsletter input {
    border: none;
    border-bottom: 1px solid rgb(87, 87, 87);
    padding: 0 10px 0px 10px;
    width: 850px;
    height: auto;
    outline: none;
    margin: 0 50px;
}

.newsletter input::placeholder {
    color: #6B6B6B;
    font-size: 18px;
}

.subscribe-btn {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    font-size: 18px;
    transition: all .3s ease;
    cursor: pointer;
}

.subscribe-btn:hover {
    background-color: black;
    color: white;
}

/*----------------------- FOOTER */
footer {
    color: white;
    font-family: 'Red Hat Display', sans-serif;
}

.footer-logo {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.footer-logo h2 {
    font-size: 60px;
    font-family: playfairegular;
    color: white;
    letter-spacing: 3px;
}

.footer-logo .point {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #E51CE1;
    position: absolute;
    bottom: 18px;
    left: 155px;
}

footer h4 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 25px;
}

.footer-black {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    width: 1100px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0 30px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.learn {
    width: fit-content;
}

.learn p {
    font-size: 18px;
    font-weight: 200;
    padding: 8px 0;
    cursor: pointer;
    margin-bottom: 12px;
}

.contact-info td {
    font-size: 18px;
    font-weight: 200;
    padding: 10px 0;
}

.contact-info img {
    height: 27px;
    text-align: center;
}

td:has(> img) {
    text-align: center;
}

.contact-info td:not(td:has(> img)) {
    padding-left: 15px;
}

.rrss-container {
    margin-top: 10px;
}

.rrss-container img {
    margin-right: 35px;
    cursor: pointer;
}

.partners h4 {
    margin-left: 155px;
}

.partners-content {
    width: 400px;
    text-align: center;
}

.partners-content img {
    margin: 5px 15px;
    cursor: pointer;
}

.width-partner {
    width: 190px;
}

.height-partner {
    height: 90px;
}

.partners-content tr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.partners-content td {
    margin: 0 30px;
}

.footer-gray {
    width: 100%;
    height: 100px;
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 100;
}

.copy-container {
    font-size: 14px;
    font-weight: 300;
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copy-features {
    display: flex;
}

.copy-item {
    cursor: pointer;
}

.privacy {
    padding-right: 20px;
}

.conditions {
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 0 20px;
}

.cookies {
    padding-left: 20px;
}










@media only screen and (max-width: 1530px) {
    .navbar {
        width: 100%;
    }

    .logo {
        padding-left: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    .navbar-end a {
        color: black;
    }
}